.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secound-section {
    display: flex;
flex-direction: row
}
#text {
    display: flex;
    flex-direction: column;
    gap: 0;
}