.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red_color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;

}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.secound-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}

.secound-section > div {
    flex: 1; 
}

#text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.navbar {
    color: red;
}

.img1 {
    width: 40%;
    height: 10%; 
}

.img2 {
    width: 40%;
    height: 10%; 
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.logo {
    width: 60%;
    height: 80%;
}

.img3 {
    width: 100%;
    height: 100%;
}

.space {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.sp {
    width: 80%;
}
body {
    width: 80%;
    margin: 0 auto;
}