header {
    display: flex;
    width: 100vw;
    height: 40vh;
}
.header{
    display: flex;
    width: 100vw;
    height: 35vh;
    justify-content: space-between;
}

.section-1 {
    display: flex;
    width: 100vw;
    height: 40vh;
    flex-direction: column;
}

.search-bar {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: flex-end;
}

.images-section {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
}