
.header {
    display: flex;
    width: 100vw;
    height:10vh;
    justify-content: space-around;
}

.search-bar { 
    display: flex;
    height: 4vh;
    justify-content:flex-end;
}

main {
    display: flex;
    width: 100vw;
    height: 86vh;
}
.section-1 {
    display: flex;
    width: 10vw;
    height: 30vh;
    flex-direction: column;
}

.section-2 {
    display: flex;
    width: 30vw;
    height: 60vh;
    flex-direction: column;
    background-color:aliceblue;
}